
<%= link_to "excercise1", excercise_excercise1_path %></li>|
<%= link_to "excercise2", excercise_excercise2_path %></li>|
<%= link_to "excercise3", excercise_excercise3_path %></li>|
<%= link_to "excercise4", excercise_excercise4_path %></li>|
<%= link_to "excercise5", excercise_excercise5_path %></li>
