<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @supply.companyName %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @supply.contactname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supply.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supply.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supply.address %>
</p>

<p>
  <strong>Product:</strong>
  <%= @supply.product %>
</p>

<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
