<div id="latest_product_gallery">
        
        	<h2>Featured Products</h2>
    
	    	<div id="SlideItMoo_outer">	
                <div id="SlideItMoo_inner">			
                    <div id="SlideItMoo_items">
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_01.png" %>
                              	</a>
                           
                        </div>	
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_02.png" %>
                                </a>
        
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_03.png" %>
                              	</a>
        
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_04.png" %>
                                </a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_05.png" %>
                                </a>
        
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_06.png" %>
                                </a>
        
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_07.png" %>
                                </a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#">
                                	<%= image_tag "templatemo_product_08.png" %>
                                </a>
                        </div>
                    </div>			
                </div>
            </div>
            
    	</div> <!-- end of latest_content_gallery -->