<div id="sidebar"><div class="sidebar_top"></div><div class="sidebar_bottom"></div>
    	
        <div class="sidebar_section">
        
            <h2>Members</h2>
            <% if user_signed_in? %>
                <%= image_tag current_user.img %> <br>
                Welcome <%=  current_user.email %> <br>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete %>

            <% else %>
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                    <%= f.text_field :email %>
                    <%= f.password_field :password %><br>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %><br>
                    <%= f.submit 'Sign in' %><br>
                    <%= link_to "Forgot your password?", new_password_path(:user) %>
                <% end %>
            <% end %>
            
			<div class="cleaner"></div>
            
		</div>
        <div class="sidebar_section">
        	<h2>Categories</h2>
            <ul class="categories_list">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Phasellus eget lorem</a></li>
                <li><a href="#">Sed sit amet sem</a></li>
                <li><a href="#">Cras eget est vel</a></li>
                <li><a href="#">Quisque in ligula</a></li>
                <li><a href="#">Donec a massa dui</a></li>
                <li><a href="#">Aenean facilisis</a></li>
                <li><a href="#">Etiam vitae consequat</a></li>
                <li><a href="#">Aliquam sollicitudin</a></li>
                <li><a href="#">Nunc fermentum</a></li>
            </ul>
        </div>
        
        <div class="sidebar_section">
        
            <h2>Discounts</h2>
            
            <div class="image_wrapper"><a href="http://www.templatemo.com/page/7" target="_parent">
            	<%= image_tag "image_01.jpg" %></a></div>            
          <div class="discount"><span>25% off</span> | <a href="#">Read more</a></div>
        
        </div>  
        
    </div> <!-- end of sidebar -->